// color
$color-primary: #adf278;
$color-bg: #e3e6ee;
$color-white: #fff;
$color-text: #555;
$color-link: #499ede;
$color-placeholder: #c5c5c5;
$color-error: #f06b6b;

// box-shadow
$box-shadow: 0 0 10px 5px #ccc;
$box-shadow-inset: inset 0 0 8px 0px #ddd;
$box-shadow-button: 0px 3px 4px 0px #ccc;

// font-size
$font-size-xl: 40px;
$font-size-lg: 32px;
$font-size-md: 24px;
$font-size-sm: 16px;
$font-size-xs: 12px;
