@use "@/styles/index.scss" as *;

.sendButton {
  background-color: $color-primary;
  height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font-size-sm;
  border: none;
  color: $color-text;
  @include button-hover;
}
