@use "@/styles/global/index.scss" as *;

@mixin project-head {
  display: flex;
  align-items: center;
  height: 45px;

  .head_title {
    font-size: $font-size-lg;
  }

  .head_add_button {
    display: block;
    width: 100px;
    height: 35px;
    background-color: transparent;
    border: 1px solid $color-text;
    border-radius: 35px;
    margin: 0 30px;
  }

  .head_input {
    @include input-field;

    height: 35px;
  }
}

.team_top {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;

  .team_top_center_line {
    width: 100%;
    height: 1px;
    background-color: $color-line;
    margin: 20px 0;
  }

  .team_top_project {
    width: 100%;
    height: 50%;

    .project_head {
      @include project-head;
    }
  }

  .team_top_info {
    width: 100%;
    height: 50%;

    .info_head {
      @include project-head;
    }
  }
}
