@use "@/styles/global/index.scss" as *;

.signup_form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  .signup_input_field {
    width: 100%;

    @include input-field;
  }

  .signup_password_input_container {
    position: relative;

    .login_password_icon_button {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }

  .signup_send_button {
    width: 200px;
    margin: 20px auto;
  }
}

.is_signup_text {
  font-size: $font-size-xs;

  .signup_link {
    color: $color-link;

    &:hover {
      text-decoration: underline;
    }
  }
}
