@use "@/styles/index.scss" as *;

.input_groupe {
  margin-bottom: 2.5rem;
  position: relative;
  text-align: left;

  .input_label {
    font-size: $font-size-sm;

    .input_required {
      width: 50px;
      height: 20px;
      font-size: $font-size-xs;
      color: $color-white;
      background-color: $color-error;
      padding: 0 0.8rem;
      border-radius: 10px;
      margin-left: 0.8rem;
    }
  }

  .error_message {
    font-size: $font-size-xs;
    position: absolute;
    bottom: -2.1rem;
    left: 2rem;
    color: $color-error;
  }
}
