@use "@/styles/index.scss" as *;

.login_form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  .login_input_field {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 45px;
    border: none;
    box-shadow: $box-shadow-inset;
    padding: 0.3rem 2rem;
  }

  .login_send_button {
    width: 200px;
    margin: 2rem auto 2rem;
  }
}

.login_link_text_container {
  display: flex;
  justify-content: center;

  .login_link_text {
    font-size: $font-size-xs;
    padding: 0 1rem;

    .login_link {
      color: $color-link;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
