@use "@/styles/global/index.scss" as *;

.team_project_container {
  display: flex;
  width: 100%;

  .team_project_left_bar {
    flex: 1;
    text-align: center;
    padding-top: 20px;

    .team_name {
      font-size: $font-size-md;
    }

    .left_bar_list {
      margin-top: 10px;
    }
  }

  .team_project_content {
    display: flex;
    flex: 5;
    align-items: center;
    justify-content: center;

    .team_project_box {
      position: relative;
      width: 95%;
      height: 93%;
      box-shadow: $box-shadow-inset;
      background-color: $color-white;
      border-radius: 20px;
    }
  }
}
