@use "@/styles/index.scss" as *;

.signup_form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  .signup_input_field {
    display: block;
    height: 45px;
    border-radius: 45px;
    border: none;
    box-shadow: $box-shadow-inset;
    padding: 0.3rem 2rem;
    margin-bottom: 2rem;

    &:last-of-type {
      margin: 0;
    }
  }
}

.signup_send_button {
  width: 200px;
  margin: 2.5rem auto 2rem;
}

.is_signup_text {
  font-size: $font-size-xs;

  .signup_link {
    color: $color-link;

    &:hover {
      text-decoration: underline;
    }
  }
}
