@use "@/styles/global/index.scss" as *;

$team-logo-size: 50px;

.sidebar {
  display: flex;
  width: 80px;
  height: calc(100vh - 60px);
  background-color: #b4b4b4;
  flex-direction: column;
  align-items: center;

  .sidebar_logo {
    margin-top: 12px;
    position: relative;

    .sidebar_logo_img {
      width: $team-logo-size;
      height: $team-logo-size;
      border-radius: $team-logo-size;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: $box-shadow;
      }

      &:hover + .sidebar_logo_name {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    .sidebar_logo_name {
      position: absolute;
      bottom: -13px;
      left: 0;
      z-index: 100;
      padding: 2px;
      color: $color-text;
      transform: translateY(5px);
      visibility: hidden;
      opacity: 0;
      white-space: nowrap;
      border-radius: 3px;
      font-size: $font-size-xs;
      background-color: $color-white;
      transition: all 0.3s ease;
    }
  }

  .sidebar_add_button {
    width: 55px;
    height: 55px;
    margin-top: 10px;
  }
}
