@use "@/styles/index.scss" as *;
$team-logo-size: 50px;

.sidebar {
  width: 80px;
  background-color: #b4b4b4;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;

  .sidebar_logo {
    margin-top: 1.2rem;
    position: relative;

    .sidebar_logo_img {
      width: $team-logo-size;
      height: $team-logo-size;
      border-radius: $team-logo-size;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: $box-shadow;
      }

      &:hover + .sidebar_logo_name {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }

    .sidebar_logo_name {
      visibility: hidden;
      opacity: 0;
      transform: translateY(5px);
      position: absolute;
      white-space: nowrap;
      bottom: -1.3rem;
      left: 0;
      padding: 0.2rem;
      border-radius: 0.3rem;
      font-size: $font-size-xs;
      background-color: $color-white;
      transition: all 0.3s ease;
      z-index: 100;
    }
  }

  .sidebar_add_button {
    width: 55px;
    height: 55px;
    margin-top: 1rem;
  }
}
